@tailwind base;
@tailwind components;
@tailwind utilities;

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#4f46e5, #4f46e5);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.border-gradient-br-blue-green-gray-900 {
  background: linear-gradient(to right, #18181b, #18181b),
    linear-gradient(to bottom right, #60a5fa, #4ade80);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.hover\:border-gradient-tl-blue-green-gray-900:hover {
  background: linear-gradient(to right, #18181B, #18181B),
    linear-gradient(to top left, #60A5FA, #4ADE80);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.gradient-border-3 {
  border: 3px solid transparent;
}